header {
    background-image: url(../images/header2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding: 100px;

    #header-lead {
        line-height: 1em;
        height: 2em;
        position: relative;
        padding: 20px 20px;
        margin-bottom: 10px;
        font-size: 50px;
        width: 50%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
    }

    #header-sub {
        line-height: 1em;
        height: 3em;
        padding: 20px;
        font-size: 20px;
        position: relative;
        width: 50%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
    }

    @media screen and (max-width: $breakpoint-large) {
        #header-lead, #header-sub {
            width: 70%;
        }

    }

    @media screen and (max-width: $breakpoint-small) {
        padding: 80px 30px 80px;

        #header-lead {
            width: 80%;
            margin: auto;
            font-size: 8vw;
        }

        #header-sub {
            display: none;
        }
    }
}