#navigation {
    padding: 15px;
    background-color: $white;

    @media screen and (max-width: 400px) {
        .logo {
            width: 60%;
        }
        .menu-toggle {
            width: 20%;
        }
    }

    .menu-toggle {
        float: right;
        display: none;
        cursor: pointer;

        @media screen and (max-width: $breakpoint-large) {
            display: inline;
        }
    }

    .menu {
        display: block;
        float: right;

        @media screen and (max-width: $breakpoint-large) {
            float: default;
            width: 100%;
            text-align: center;
            margin-top: 10px;
            display: none;
        }

        a{
            color: #3b3b3b;
            text-decoration: none;

            li {
                display: inline;
                margin: 0px 10px 0px 10px;
                font-size: 18px;
    
                @media screen and (max-width: $breakpoint-large) {
                    display: block;
                    text-align: center;
                    border-bottom: 1px solid #acacac;
                    padding: 15px;
                }

            }
        }

        a:hover {
            color: #a8a7a7;
        }   
    }
}